<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EntityFramework6.Npgsql" version="3.1.0" targetFramework="net461" />
  <package id="Npgsql" version="3.2.3" targetFramework="net461" />
  <package id="SQLite.CodeFirst" version="1.3.1.18" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6.Migrations" version="1.0.104" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
</packages>